.app {
  text-align: left;
  font-family: "Bodoni MT", "Didot", serif;
  min-height: 100vh;
  background-image: url("./images/testImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timer {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}